@model POS.ViewModel.ProductModel

@{
    ViewBag.Title = "Product Detail";
    Layout = "_Layout";
}

<div class="card-header">
    <h3>Product Detail</h3>
</div>
<div class="card-body">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="supId" class="col-sm-3 col-form-label"><strong>ID</strong></label>
                <div class="col-sm-9">
                    <label id="supId" class="form-control-plaintext">@Model.Id</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="ProductName" class="col-sm-3 col-form-label"><strong>Product Name</strong></label>
                <div class="col-sm-9">
                    <label id="ProductName" class="form-control-plaintext">@Model.ProductName</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="QuantityPerUnit" class="col-sm-3 col-form-label"><strong>Quantity</strong></label>
                <div class="col-sm-9">
                    <label id="QuantityPerUnit" class="form-control-plaintext">@Model.QuantityPerUnit</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="UnitPrice" class="col-sm-3 col-form-label"><strong>Price</strong></label>
                <div class="col-sm-9">
                    <label id="UnitPrice" class="form-control-plaintext">@Model.UnitPrice</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="UnitsInStock" class="col-sm-3 col-form-label"><strong>In Stock</strong></label>
                <div class="col-sm-9">
                    <label id="UnitsInStock" class="form-control-plaintext">@Model.UnitsInStock</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="UnitsOnOrder" class="col-sm-3 col-form-label"><strong>On Order</strong></label>
                <div class="col-sm-9">
                    <label id="UnitsOnOrder" class="form-control-plaintext">@Model.UnitsOnOrder</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="ReorderLevel" class="col-sm-3 col-form-label"><strong>Reorder Level</strong></label>
                <div class="col-sm-9">
                    <label id="ReorderLevel" class="form-control-plaintext">@Model.ReorderLevel</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="Discontinued" class="col-sm-3 col-form-label"><strong>Discontinued</strong></label>
                <div class="col-sm-9">
                    <label id="Discontinued" class="form-control-plaintext">@Model.Discontinued</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="SupplierId" class="col-sm-3 col-form-label"><strong>Supplier Id</strong></label>
                <div class="col-sm-9">
                    <label id="SupplierId" class="form-control-plaintext">@Model.SupplierId</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="CategoryId" class="col-sm-3 col-form-label"><strong>Category Id</strong></label>
                <div class="col-sm-9">
                    <label id="CategoryId" class="form-control-plaintext">@Model.CategoryId</label>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
