@model POS.ViewModel.SupplierModel

@{
    ViewBag.Title = "Supplier Detail";
    Layout = "_Layout";
}

<div class="bg-success p-2 text-dark bg-opacity-25 card-header">
    <h3>Supplier Detail</h3>
</div>
<div class="card-body">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="supId" class="col-sm-3 col-form-label"><strong>ID</strong></label>
                <div class="col-sm-9">
                    <label id="supId" class="form-control-plaintext">@Model.Id</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="CompanyName" class="col-sm-3 col-form-label"><strong>Company Name</strong></label>
                <div class="col-sm-9">
                    <label id="CompanyName" class="form-control-plaintext">@Model.CompanyName</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="ContactName" class="col-sm-3 col-form-label"><strong>Contact Name</strong></label>
                <div class="col-sm-9">
                    <label id="ContactName" class="form-control-plaintext">@Model.ContactName</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="ContactTitle" class="col-sm-3 col-form-label"><strong>Contact Title</strong></label>
                <div class="col-sm-9">
                    <label id="ContactTitle" class="form-control-plaintext">@Model.ContactTitle</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="Address" class="col-sm-3 col-form-label"><strong>Address</strong></label>
                <div class="col-sm-9">
                    <label id="Address" class="form-control-plaintext">@Model.Address</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="City" class="col-sm-3 col-form-label"><strong>City</strong></label>
                <div class="col-sm-9">
                    <label id="City" class="form-control-plaintext">@Model.City</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="Region" class="col-sm-3 col-form-label"><strong>Region</strong></label>
                <div class="col-sm-9">
                    <label id="Region" class="form-control-plaintext">@Model.Region</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="PostalCode" class="col-sm-3 col-form-label"><strong>Postal Code</strong></label>
                <div class="col-sm-9">
                    <label id="PostalCode" class="form-control-plaintext">@Model.PostalCode</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="Country" class="col-sm-3 col-form-label"><strong>Country</strong></label>
                <div class="col-sm-9">
                    <label id="Country" class="form-control-plaintext">@Model.Country</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="Phone" class="col-sm-3 col-form-label"><strong>Phone</strong></label>
                <div class="col-sm-9">
                    <label id="Phone" class="form-control-plaintext">@Model.Phone</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="Fax" class="col-sm-3 col-form-label"><strong>Fax</strong></label>
                <div class="col-sm-9">
                    <label id="Fax" class="form-control-plaintext">@Model.Fax</label>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="HomePage" class="col-sm-3 col-form-label"><strong>HomePage</strong></label>
                <div class="col-sm-9">
                    <label id="HomePage" class="form-control-plaintext">@Model.HomePage</label>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
